{% extends "RecipeViewer/base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content%}
    <h1>{{ recipe.name }}</h1>
    <img src="{{recipe.image.url}}" class="w-50 h-50" alt="Responsive image" />
    <p>{{ recipe.ingredients|linebreaks }}</p>
    <p>{{ recipe.instructions|linebreaks }}</p>

    <a class="btn btn-secondary" href="{% url 'recipe-update' recipe.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'recipe-delete' recipe.id %}">Delete</a>

{% endblock content%}